.navbar-brand {
    margin-right: 10px;
    margin-left: 10px;
    justify-content: space-between;
}
.navbar .navbar-nav .nav-link {
    color: #403d3d;
    font-size: 19 px;
}
.navbar .navbar-nav .nav-link:hover{
    color: #808080;
}
@media only screen and (min-width: 992px) {
    .navbar .navbar-nav .nav-item .nav-link {
      padding: 0 8 px;
    }
    .navbar .navbar-nav .nav-item:not(:last-child) .nav-link {
      border-right: 2px solid #403d3d;
    }
  }
  /* <!-- font --> */
  /* .Kanit{
    font-family: 'Rubik Gemstones', cursive;
    font-size: 20px;    
}  */

.map div {
    padding: 5px;
    display: flex;
    cursor: pointer;
    flex-direction: column;
}

.map div span:first-child {
    font-weight: 400;
    font-size: 13px;
}


/* //////////// */
.box div img {
    width: 167px;
    height: 120px;
    cursor: pointer;
    margin-left: -20px;
    margin-right: 0;

}
.box-a div {
    display: inline-block;
}

.box-a div span {
    display: block;
    font-size: 13px;
    margin-left: 20px;
}
.box a {
    font-size: 13px;
    margin-left: 20px;
    display: block;
    padding-top: 30px;
}

.box-a {
    overflow: hidden;
    background-color: white;
}

